@font-face {
    font-family: robot;
    src: url(fonts/th3_machine.ttf);
}

@font-face {
    font-family: logo;
    src: url(fonts/destructobeambb_reg.ttf);
}

body {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

hr {
    margin: 40px 0 40px 0;
}

.index {
    background-image: url(imagenes/index.jpg);
}

.pasado {
    background-image: url(imagenes/pasado.png);
}

.presente {
    background-image: url(imagenes/presente.jpg);
}

.futuro {
    background-image: url(imagenes/futuro.jpg);
}

.contenido {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto 40px auto;
    background-color: white;
    padding-bottom: 40px;
}

/* Estilo para el logo */

.contenedor-logo {
    display: flex;
    justify-content: center;
    height: 70px;
}

.contenedor-logo a {
    color: black;
    text-decoration: none;
}

.logo {
    padding-top: 15px;
    width: 70px;
    height: 70px;
    background-image: url("../curiosity/imagenes/spray-final.png");
    animation: rover 3s steps(6) infinite;

}

.texto-logo {
    font-family: logo;
    font-size: 2.3em;
    vertical-align: middle;
}

@keyframes rover {
    from {
        background-position: 0px;
    }

    to {
        background-position: -420px;
    }
}


/* Estilo para el menu */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    margin: 10px 0 15px 0;
}

.apartado {
    width: 33.33%;
    text-align: center;
    font-size: 1.7em;
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
    color: white;
    transition: all 0.4s ease-in;
}

nav a {
    color: black;
    text-decoration: none;
}

.apartado:hover {
    background-color: rgb(136, 136, 136);
    color: white;
}


/* Estilo para el contenido */

.introduccion {
    margin: 30px auto 0 auto;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
} 

.section-introduccion {
    display: flex;
    flex-wrap: wrap;
}

.apartado-section {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.contenedor-imagen {
    width: 80%;
    height: 70%;
    margin: 50px auto 0 auto;
}

.apartado-section img {
    width: 100%;
    height: 100%;
}

/* Estilo para las tarjetas del index */

#tabs {
    width: 50%;
    margin: auto;
}

#tabs div {
    text-align: center;
    padding-bottom: 15px;
}

#tabs div p {
    margin: 40px 0 40px 0;
    padding: 0 30px 0 30px;
}

.btn {
    background-color: rgb(0, 132, 255);
    color: white !important;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    border-radius: 7%;
}

.btn:hover {
    background-color: rgba(0, 132, 255, 0.726);
    color: white;
}


/* Estilo para el juego index */

.juego-index {
    width: 80%;
    text-align: center;
    margin: auto;
}

.apartado-juego {
    font-size: 1.3em;
}

.contenedor-juego {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.draggable {
    width: 170px;
    height: 170px;
    padding: 0.5em;
    margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

.contenedor-draggable {
    display: flex;
}

.contenedor-draggable #curiosity { 
    background-image: url(imagenes/curiosity.jpg);
 }

.contenedor-draggable #wall-e {
    background-image: url(imagenes/wall-e.jpg);
 }

.contenedor-draggable #r2-d2 {
    background-image: url(imagenes/r2.d2.jpg);
}

.contenedor-draggable #bb8 {
    background-image: url(imagenes/bb8.jpg);
}

.contenedor-draggable #dalek {
    background-image: url(imagenes/dalek.jpg);
}

.droppable { 
    width: 150px;
    height: 150px;
    padding: 0.5em;
    margin: 10px;
    font-size: 2em;
}

.contenedor-droppable {
    display: flex;
}

.contenedor-droppable .droppable {
    background-image: url(imagenes/fondo-droppable.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.droppable p {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
}

/* Estilo para acordeon pasado */

.imagen-pasado-grande {
    width: 500px;
    height: 350px;
}

.retrato-hisashige {
    width: 200px;
    height: 150px;
}

.retrato-davinci {
    width: 150px;
    height: 100px;
}

#accordion div {
    text-align: center;
}

#accordion {
    margin-bottom: 50px;
}


/* Estilo tarjetas presente */
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.flip3D {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.flip3D>.front {
    position: absolute;
    transform: perspective( 1200px) rotateY( 0deg);
    background: #FC0;
    width: 400px;
    height: 300px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flip3D>.back {
    position: absolute;
    transform: perspective( 1200px) rotateY( 180deg);
    background: #80BFFF;
    width: 400px;
    height: 300px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    font-size: 0.7em;
}

.flip3D:hover>.front {
    transform: perspective( 600px) rotateY( -180deg);
}

.flip3D:hover>.back {
    transform: perspective( 600px) rotateY( 0deg);
}

#atlas {
    background-image: url(imagenes/robot1_presente.jpg);
}

#rhex {
    background-image: url(imagenes/robot2_presente.JPG);
}

#baxter {
    background-image: url(imagenes/robot3_presente.jpg);
}

#snake {
    background-image: url(imagenes/robot4_presente.jpg);
}

#rise {
    background-image: url(imagenes/robot5_presente.jpg);
}

#sandflea {
    background-image: url(imagenes/robot6_presente.jpg);
}

#dog {
    background-image: url(imagenes/robot7_presente.JPG);
}

#cat {
    background-image: url(imagenes/robot8_presente.jpg);
}

/* Estilo juego abajo */


#sortable { 
    list-style-type: none;
    margin: auto; 
    padding: 0; 
    width: 60%; }
#sortable li {
     margin: 0 5px 5px 5px; 
     padding: 5px; 
     font-size: 1.2em; 
     height: 1.5em; }
html>body #sortable li { 
    height: 1.5em; 
    line-height: 1.2em; }
.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; }
